body{
    color: #434455;
    background-color: #ffffff;
}
.header-logo{
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.studio{

    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
    color: #2e2f42;
}
.studio:hover,
.stido:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
}
.mail{
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.mail:hover,
.mail:focus{
    color: #404bbf;
}