body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.header-logo{
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.header-logo span{
    color: #2e2f42;
}
.list-header{

    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
}
.list-header:hover,
.list-header:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
}
.address-info{
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;

}
.address-info:hover,
.address-info:focus{
    color: #404bbf;
}
.main-section{
    background-color: #2e2f42;
}
.page-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;

}
.main-button{
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer; 
}
.main-button:hover,
.main-buttonLfocus{
    background-color: #404BBF;

}
